.course-container {
  display: flex;
  width: 60%;
  /* position: absolute; */
  background-color: rgb(232, 226, 232);
  justify-content: space-between;
  margin: 2rem;
  padding: 1.5rem;
  font-weight:bold;
  font-size: large;
}

.page{
  position: absolute;
  height: 70%;
  width: 70%;
  background-color: rgb(232, 226, 232);
  padding: 2rem 5rem;
  display: flex;
  justify-content: end;
  }

  .add-icon {
    height: 3rem;
    width: 4rem;
    border-radius: 40%;
    border: none
    /* width: 1.6rem;
    margin: auto; */
  }

  .listing-button {
    border: none;
    background-color: rgb(232, 226, 232);
  }
 
 